<template>
  <div class="py-16">
    <div class="container mx-auto px-4">
      <h2 class="text-4xl uppercase text-center">About</h2>
      <div class="grid grid-cols-1 gap-4 mt-16 lg:grid-cols-2 lg:gap-0">
        <div class="text-center">
          <div class="avatar">
            <div class="w-64 mask mask-squircle">
              <img src="https://picsum.photos/seed/picsum/500/500" alt="" />
            </div>
          </div>
          <p class="w-96 mx-auto mt-5 text-xl">
            I am a developer from Guatemala.<br />
            I have a passion for backend development. I am curious about new
            technologies and eager to improve my skills day by day.
          </p>
        </div>
        <div>
          <button class="btn btn-ghost sm:btn-accent w-full mt-8 sm:mt-0 sm:w-24 skill-btn ">CSS</button>
          <progress
            class="progress progress-accent w-4/5 h-12"
            value="90"
            max="100"
          >
            <span>90%</span>
          </progress>
          <br />
          <button class="btn btn-ghost sm:btn-accent w-full mt-8 sm:mt-0 sm:w-24 skill-btn">HTML</button>
          <progress
            class="progress progress-accent w-4/5 h-12"
            value="90"
            max="100"
          ></progress>
           <br />
          <button class="btn btn-ghost sm:btn-accent w-full mt-8 sm:mt-0 sm:w-24 skill-btn">PHP</button>
          <progress
            class="progress progress-accent w-4/5 h-12"
            value="70"
            max="100"
          ></progress>
           <br />
          <button class="btn btn-ghost sm:btn-accent w-full mt-8 sm:mt-0 sm:w-24 skill-btn">Laravel</button>
          <progress
            class="progress progress-accent w-4/5 h-12"
            value="60"
            max="100"
          ></progress>
           <br />
          <button class="btn btn-ghost sm:btn-accent w-full mt-8 sm:mt-0 sm:w-24 skill-btn">Javascript</button>
          <progress
            class="progress progress-accent w-4/5 h-12"
            value="80"
            max="100"
          ></progress>  
           <br />
          <button class="btn btn-ghost sm:btn-accent w-full mt-8 sm:mt-0 sm:w-24 skill-btn">Vue</button>
          <progress
            class="progress progress-accent w-4/5 h-12"
            value="70"
            max="100"
          ></progress> 
           <br />
          <button class="btn btn-ghost sm:btn-accent w-full mt-8 sm:mt-0 sm:w-24 skill-btn">NodeJS</button>
          <progress
            class="progress progress-accent w-4/5 h-12"
            value="60"
            max="100"
          ></progress>  
           <br />
          <button class="btn btn-ghost sm:btn-accent w-full mt-8 sm:mt-0 sm:w-24 skill-btn">No SQL</button>
          <progress
            class="progress progress-accent w-4/5 h-12"
            value="70"
            max="100"
          ></progress>  
        </div>
      </div>
    </div>
  </div>
</template>

<style>
    .skill-btn {
        top: -19px;
        position: relative;
    }
</style>