<!-- Please remove this file from your project -->
<template>
  <div
    class="h-screen flex items-center justify-center flex-col bg-slate-900 text-white"
  >
  <canvas class="z-0"></canvas>
    <div class="max-w-xl mx-auto text-center z-10">
      <h1 class="text-5xl font-bold">Hi, I'm Jefrien Alvizures.</h1>
      <h2 class="text-xl mt-5">I'm a full-stack web developer.</h2>
    </div>
    <div  class="arrow-down-header animate-bounce z-10 bg-slate-900 dark:bg-slate-800 p-2 w-10 h-10 ring-1 ring-slate-900/5 dark:ring-slate-200/20 shadow-lg rounded-full flex items-center justify-center">
      <svg class="w-6 h-6 text-primary" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
        <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Header',
}
</script>

<style>
canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #0f172a;
  overflow: hidden;
}

.arrow-down-header {
    position: absolute;
    bottom: 35px;
}
</style>