<template>
  <div class="navbar bg-slate-800">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="white"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"
            />
          </svg>
        </label>
        <ul
          tabindex="0"
          class="text-white menu menu-compact dropdown-content mt-3 p-2 shadow bg-slate-800 rounded-box w-52"
        >
          <li><a>HOME</a></li>
          <li><a>ABOUT</a></li>
          <li><a>PORTAFOLIO</a></li>     
          <li><a>CONTACT</a></li>
        </ul>
      </div>
     
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal p-0 text-white">
       <li><a>HOME</a></li>
          <li><a>ABOUT</a></li>
          <li><a>PORTAFOLIO</a></li>     
          <li><a>CONTACT</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      
    </div>
  </div>
</template>

<style scoped>
    .navbar {
        border-bottom: 4px solid #057aff
    }
</style>
