<template>
  <div class="py-16 bg-slate-100">
    <div class="container mx-auto">
      <h2 class="text-4xl uppercase text-center">Projects</h2>
     
    </div>
  </div>
</template>

<style>
    .skill-btn {
        top: -19px;
        position: relative;
    }
</style>